body {
    background-color: #6c757d;
}

.sections {
    font-size: 1.5em;
}

.box-model {
    /* box model */
    padding: 0.6em;
    margin: 0.6em;
    text-align: center;
}

.danger {
    color: red;
    background-color: #f8f9fa;
    border: 1.5px solid black;
    border-radius: 0.3em;
    font-size: 1.5em;
}

h1 {
    display: inline;
}

input {
    font-size: 1em;
    border-radius: 0.3em;
}

span {
    font-size: 1.5em;
}

.registrationPlate {
    list-style: none;
    border: 1.5px solid black;
    font-size: 2em;
    border-radius: 0.3em;
    background-color: #f8f9fa;
    width: 20%;
    margin: 0.7em;
}

button {
    background-color: #f8f9fa;
    border-radius: 0.3em;
    font-size: 1em;
}

button:hover {
    background-color: #6c757d;
}

#list {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

@media (max-width:859px) {
    #list {
        flex-direction: column;
        align-items: center;
    }
}