body {
    background-color: #17C3B2;
}

.sections {
    display: flex;
    justify-content: space-evenly;
    font-size: 1em;
}

.section-without-handlebars {
    flex: 1;
}

.handlebars-section {
    flex: 1;
}

.box-model {
    /* box model */
    padding: 0.6em;
    margin: 0.6em;
    text-align: center;
}

.danger {
    color: red;
    background-color: #f8f9fa;
    border: 1.5px solid black;
    border-radius: 0.3em;
    font-size: 1.5em;
}

h1 {
    display: inline;
}

input {
    font-size: 1em;
    border-radius: 0.3em;
}

span {
    font-size: 1.5em;
}

.registrationPlate {
    list-style: none;
    border: 1.5px solid black;
    font-size: 2em;
    border-radius: 0.3em;
    background-color: #CCD5FF;
    width: 20%;
    margin: 0.7em;
}

button {
    background-color: #ffffff;
    border-radius: 0.3em;
    font-size: 1em;
}

button:hover {
    background-color: #227C9D;
    color: #ffffff;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

@media (max-width:859px) {
    #list {
        /* flex-direction: column; */
        align-items: center;
    }

    .sections {
        flex-direction: column;
    }
}