<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Numbers App</title>

    <link rel="stylesheet" href="../style-sheets/style.css">

</head>

<body>
    <div class="sections box-model">
        <h1><img src="../assets/license-plate.png" alt="" width="60"> Registration Numbers App</h1>

        <div class="messageForError"></div>

        <!-- section for the registration numbers -->
        <div class="section box-model">

            <span>Enter registration number:</span>
            <input type="text" name="registration" id="reg" placeholder="ca 435-546, cj 847, cl 7464">

            <!-- button -->
            <button id="add">ADD</button>

        </div>

        <!-- section for the radio buttons -->
        <div class="section box-model">

            <input type="radio" name="registrations" value="CA" class="places">
            <span>CAPE TOWN</span>

            <input type="radio" name="registrations" value="CL" class="places">
            <span>STELLENBOSCH</span>

            <input type="radio" name="registrations" value="CJ" class="places">
            <span>PAARL</span>

            <!-- button -->
            <button id="show">SHOW</button>

        </div>

        <!-- element to show registration number -->
        <ul id="list"></ul>

    </div>

    <!-- javaScript script files -->
    <script src="../javaScript/registration-numbers.js"></script>
    <script src="../javaScript/registration-numbers.dom.js"></script>

</body>

</html>